body{
    margin: 0px;
    font-family: arial, roboto;
}
p{
    color: gray;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
}
h4{
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
}
.header{
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 60px;
    background-color: aliceblue;
}
.leftside{
    
    margin-right: 20px;
    width: 200px;
    background-color: green;
}
.center{
    flex: 1;
    margin-right:10px;
    background-color: brown;
}
.right{
    margin-right: 20px;
    width: 200px;
    background-color: green;
}
.sidebar{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    background-color: black;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 80px;
}
.container{
   width: 200px;
}
.profile{
    display: grid;
    grid-template-columns: 40px 1fr;
}
.small{
    height: 40px;
    border-radius: 20px;
}
.cover{
    width: 100%;
}
.detail{
    margin-left: 9px;
}
.entirepage{
   margin-left: 90px;
   margin-top: 62px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}
@media (max-width:600px){
    .entirepage{
   margin-left: 90px;
   margin-top: 62px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

}